.http {
    background-color: #E6E6E6;
    text-align: center;
    padding: 5px;
    width: 80px;
    height: 20px;
    font-size: 15px;
    margin-right: 5px;
    margin-left: 5px;
}
.md-icon {
    display: none;
}